<main class="container-fluid {{pageMainClass}}">
	<section class="row">
		<div class="col-12">
			<h1>{{title}}</h1>
			<p>{{msg}}</p>
			<div>
				<h2>items in db:</h2>
				<ul class="item-list" id="items">
					
				</ul>
				
			</div>
			
		</div>
	</section>	
</main>